body
{
    font-family: Poppins, sans-serif;
}

nav
{
    background-color: black;
    font-size: 1.25rem;
}

a
{
    color: white;
}

.navbar-brand
{
    color: white;
    font-size: 2rem;
}

.nav-link
{
    color: white;
}
section
{
    text-align: center;
    align-items: center;
    padding-top:10px;
    padding-bottom: 10px;
    background-color:black;
    color: white;
}

footer
{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}

ul
{
    list-style: none;
    padding-left: 1px;
}

#map
{
    height: 90vh;
    width: 800px;
    margin: auto;
    color: black;
}
